---
title: "Hello, World!"
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/json-view.js"></script>
</head>

<body>

  <p class="">{{title}}</p>
  <p class="">Number of collections: {{ collections.all.length }}</p>
{# {{ collections.all[0] | myFilter | safe }} #}

</body>

</html>