---
title: "JSON Viewer"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
  
    
    {{ collections.all | jsonViewer({
        title: "collections.all",
        showTypes: true,
        showCounts: false,
        defaultExpanded: true,
        pathsOnHover: false,
        showControls: true 
    }) | safe }}

    {% console collections.all%}
  
   
</body>
</html> 