---
title: "JSON Viewer"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

    {% set string = "value" %}
    {% set number = 123 %}
    {% set array = ["string 1", "string 2", 3, 4 , {a:"a"} ] %}
    {% set longArray = {

        a: ["string 1", "string 2", 3, 4 , {template:"a"},"string 1", "string 2", 3, 4 , {a:"a"},"string 1", "string 2", 3, 4 , {template:"a"},"string 1", "string 2", 3, 4 , {a:"a"},"string 1", "string 2", 3, 4 , {template:"a"} ],
        b: "hello"
    }%}
    {% set object = {template: "a", b:"b"} %}
 

    {{  string | jsonViewer({ title: "string"}) | safe }}
    {{  number | jsonViewer({ title: "number"}) | safe }}
    {{  array | jsonViewer({ title: "array"}) | safe }}
    {{  longArray | jsonViewer({ title: "array",  removeTemplate: true }) | safe }}
    {{  object | jsonViewer({ title: "object"}) | safe }}


    {{ collections.all[0]| jsonViewer({
        title: "collections.all",
        showTypes: false,
        showCounts: false,
        defaultExpanded: false,
        pathsOnHover: false,
        showControls: true,
        removeTemplate: true 
    }) | safe }}

    {% console collections.all[0] %}
  
   
</body>
</html> 