---
title: "JSON Viewer"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>


    {{ collections.all | jsonViewer({
        showTypes: true,
        showCounts: true,
        defaultExpanded: false
    }) | safe }}

    {{ collections.all | jsonViewer({
        showTypes: false,
        showCounts: false,
        defaultExpanded: false
    }) | safe }}
  
   
</body>
</html> 